IMAGE_NAME=${DOCKER_USERNAME}/${IMAGE_NAME}
IMAGE_TAG=${RELEASE_VERSION}

JWT_SECRET=${JWT_SECRET}
JWT_REFRESH_SECRET=${JWT_REFRESH_SECRET}
JWT_ACCESS_TOKEN_EXPIRES_IN=${JWT_ACCESS_TOKEN_EXPIRES_IN}
JWT_REFRESH_TOKEN_EXPIRES_IN=${JWT_REFRESH_TOKEN_EXPIRES_IN}
APP_PORT=${APP_PORT}
APP_USE_SSL=${APP_USE_SSL}
CORS_ALLOW_ORIGINS=${CORS_ALLOW_ORIGINS}

POSTGRES_USER=${POSTGRES_USER}
POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
POSTGRES_DB=${POSTGRES_DB}
POSTGRES_HOST=${POSTGRES_HOST}
POSTGRES_PORT=${POSTGRES_PORT}
